*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box1{
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    border: solid red 50px;
    background-color: brown;
}


